.panel-horizontal {
  height: calc(100vh - 56px);
}

.panel_handle_hover {
  border: 1px solid #f3f3f3 !important;

  &:hover {
    position: relative;
    border: 1px solid rgba(230, 244, 255,0) !important;
    &::after{
      position: absolute;
      content: "";
      left: -3px;
      top: -3px;
      z-index: 9999; // 此处防止after中的内容被其他DOM元素遮盖
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 3px solid #e6f4ff !important;
    }
  }
}

.actionBar {
  display: flex;
  padding: 5px;

  &_aiButton {
    height: 26px;
    margin: 0 4px 0 8px;
  }
}

.codeEditor {
  &_aiContent {
    .codeAiList {
      height: calc(100vh - 248px);
      padding: 0 20px 0 18px;
      overflow-y: scroll;

      p {
        margin-bottom: 0rem;
      }
    }

    .codetext {
      position: relative;

      textarea {
        min-height: 120px !important;
        max-height: 120px !important;
        padding-bottom: 30px;
        background-color: #f3f3f3;
        border: none;
        box-shadow: none;
      }

      textarea:hover {
        border: none;
      }

      &_button {
        position: absolute;
        bottom: 1px;
        left: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 99%;
        padding: 5px 10px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
  }
}

.catalogTreeContainer {
  :global {
    .ant-tree-node-content-wrapper,
    .ant-tree-node-content-wrapper-close {
      display: flex;
    }

    .ant-tree-node-content-wrapper,
    .ant-tree-node-content-wrapper-open {
      display: flex;
    }

    .ant-tree-title {
      min-width: 680px; //same with left container max width
    }

    .ant-dropdown-trigger {
      white-space: nowrap;
    }

    .ant-tree-list-holder::-webkit-scrollbar {
      display: none;
      /* 隐藏滚动条（针对 Webkit 浏览器） */
    }

    .ant-tree-list-holder {
      scrollbar-width: none;
      /* Firefox 浏览器中隐藏滚动条 */
    }
  }
}

.dbtabs {
  .ant-tabs-nav {
    height: 36px;
    margin: 0 0 6px 0;

    .ant-tabs-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      height: 100%;
      margin: 0;
      padding: 0 10px;
      font-size: 14px;
    }
  }
}
